.my_nav_bar{
position:sticky;
	top:0;
	z-index:9999;
}
ul{
	list-style: none;
	display:block;
	color:azure
}
marquee{
	font-size:30px;
	background-color: aquamarine;
}
h5{
	font-size:30px;
}
.md{
	margin:20px;
	padding-left:0px;
	padding-right:0px;
	float:none;
	border:1px solid black;
}
.md img{
	width:100%;
}
.md hr{
	width:230px;
}
.moviehead{
	
	font-size:20px;
	padding:6px 20px;
	margin-bottom:5px;
	border-radius:20px;
}
.moviehead i{
	float:right;
}
.flex{
 display:grid;
grid-template-columns: 1fr 1fr 1fr;
}
.enli{
	margin-top:10px;
	
}
ul{
	margin-bottom:20px;
}
.img_modal{
	margin:auto;
	margin-top:20px;
	margin-bottom:20px;
}
.modal-body{
	text-align:center;
}
